<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/auth_layout"
>
<head>
    <title>로그인</title>
</head>

    <!-- <th:block layout:fragment="css"> 
        <link rel="stylesheet" th:href="@{/css/page/home.css}" >
    </th:block>
    <th:block layout:fragment="script">
        <script th:src="@{/js/page/home.js}"></script>
    </th:block> -->

    <main layout:fragment="content">
        <div class="title">
            <h2>로그인</h2>
            <a href="/regist">회원가입</a>
        </div>
        <form action="/api/user/login" method="POST">
            <fieldset>
                <label>아이디</label>
                <input type="text" name="id">
            </fieldset>
            <fieldset>
                <label>비밀번호</label>
                <input type="password" name="password">
            </fieldset>
            <fieldset>
                <input class="submit_btn" type="submit" value="로그인">
            </fieldset>
        </form>
        <div class="go_home">
            <a href="/">메인페이지</a>
        </div>
        <div class="error_box" th:if="${#httpServletRequest.getParameter('fail')}">
            <div>로그인에 실패했습니다.</div>
        </div>
    </main>
</html>