/* Body */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Header */
header {
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 33px;
    padding: 0 10px;

}

header h1 {
    font-weight: bold;
}

header .menu {
    display: flex;
}

header .menu .user {
    font-weight: bold;
}

header .menu > * {
    margin-right: 20px;
}

header .menu > *:last-child {
    margin-right: 0;
}

/* Main Contents */
main {
    padding: 1rem;
    height: calc(100vh - 66px);
}

/* Footer */
footer {
    height: 33px;
    border-top: 1px solid #ddd;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.error_box {
    margin-top: 2rem;
    color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
}