/* Body */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Header */
header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
}

header .menu {
    display: flex;
}

header .menu .user {
    font-weight: bold;
}

header .menu > * {
    margin-right: 20px;
}

header .menu > *:last-child {
    margin-right: 0;
}

/* Main Contents */
main {
    padding: 1rem;
}

/* Footer */
footer {
    padding: 0.5rem 1rem;
    border-top: 1px solid #ddd;
}