<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/main_layout"
>
<head>
    <title>Home</title>
</head>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pages/home.css}" >
    </th:block>
    <!-- <th:block layout:fragment="script">
        <script th:src="@{/js/page/home.js}"></script>
    </th:block> -->

    <main layout:fragment="content">
        
        <div class="article_list_wrapper">
            <ul class="article_list">
                <li th:each="item : ${articleList}">
                    <div class="article_list_title"><a th:href="@{/article(keyIdx=${item.keyIdx})}" th:text="${item.title}"></a></div>
                    <div class="article_list_writer" th:text="${item.writerId}"></div>
                    <div class="article_list_date" th:text="${item.regiDate}"></div>
                    <div class="article_list_hit" th:text="${item.hit}"></div>
                </li>
            </ul>
            <!-- <div class="pager_wrapper" th:with="page=${param.p == null ? 1 : param.p}">
                <ul class="pager" th:with="start=${page - (page - 1) % 10}">
                    <li th:each="i: ${#numbers.sequence(1, 10)">
                        <a href="/?p=1" th:text="${iStat.index + startNum}"></a>
                    </li>
                </ul>
            </div> -->
        </div>

    </main>
</html>