<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/main_layout"
>
<head>
    <title>Home</title>
</head>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pages/home.css}" >
    </th:block>
    <!-- <th:block layout:fragment="script">
        <script th:src="@{/js/page/home.js}"></script>
    </th:block> -->

    <main layout:fragment="content">
        
        <div class="article_list_wrapper">
            <ul class="article_list">
                <li th:each="item : ${articleList}">
                    <div class="article_list_title"><a th:href="@{/article(keyIdx=${item.keyIdx})}" th:text="${item.title}"></a></div>
                    <div class="article_list_writer" th:text="${item.writerId}"></div>
                    <div class="article_list_date" th:text="${item.regiDate}"></div>
                    <div class="article_list_hit" th:text="${item.hit}"></div>
                </li>
            </ul>
            <div class="pager_total">
                <span th:text="${pager.getCurrentBlock() + ' / ' + pager.getLastBlock()}"></span>
            </div>
            <div class="pager_wrapper">
                <ul class="pager">
                    <li th:if="${pager.isPrev()}"><span>prev</span></li>
                    <li th:each="i: ${#numbers.sequence(pager.getStartPage(), pager.getEndPage())}">
                        <a th:href="@{/(pageNum=${i})}" th:text="${i}"></a>
                    </li>
                    <li th:if="${pager.isNext()}"><span>next</span></li>
                </ul>
            </div>
        </div>

    </main>
</html>