<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/main_layout"
>
    <head>
        <title>답변</title>
    </head>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pages/article/write.css}" >
    </th:block>
    <th:block layout:fragment="script">
        <!-- <script th:src="@{/js/ckeditor5/ckeditor.js}"></script> -->
    </th:block>

    <main class="write" layout:fragment="content">
        <form
            th:action="@{/api/article/reply(groupIdx=${article.replyGroup})}"
            method="POST"
            id="text-form"
            enctype="multipart/form-data"
        >
            <input type="hidden" name="replyStep" th:value="${article.replyStep}">
            <input type="hidden" name="replyIndent" th:value="${article.replyIndent}">
            <fieldset>
                <label>제목</label>
                <input type="text" name="title" th:value="'RE: ' + ${article.title}">
            </fieldset>
            <fieldset>
                <label>내용</label>
                <textarea id="ckEditor" name="content" cols="30" rows="10" th:text="${article.content}"></textarea>            
            </fieldset>
            <fieldset th:if="${article != null}">
                <input type="hidden" name="files" id="hiddenFiles" th:value="${article.files}">
                <ul class="addedFileList" id="addedFileList">
                    <li th:each="item : ${#strings.arraySplit(article.files, ',')}" th:id="'file-' + ${item}">
                        <div th:text="${item}"></div>
                        <div>
                            <button type="button" th:attr="onclick=|removeFile('${item}')|">x</button>
                        </div>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <div id="fileTagList"></div>
                <div id="addFileBtn">파일 추가하기</div>
            </fieldset>
            <fieldset>
                <input class="submit_btn" type="submit" th:value="답변">
            </fieldset>
        </form>
        <div class="error_box" th:if="${#httpServletRequest.getParameter('fail')}">
            <div>요청에 실패했습니다. 내용을 모두 입력해주세요.</div>
        </div>
        <script>
            const inputBtn = document.getElementById("addFileBtn");
            const inputList = document.getElementById("fileTagList");
            let fileTagCount = 0;
            
            inputBtn.addEventListener("click", () => {
                fileTagCount++;

                const wrapTag = document.createElement("div");
                wrapTag.className = "fileTagWrap";
                wrapTag.id = "fileTag" + fileTagCount

                const inputTag = document.createElement("input");
                inputTag.type = "file";
                inputTag.name = "file";
                wrapTag.appendChild(inputTag);

                const cancleBtn = document.createElement("button");
                cancleBtn.textContent = "x";
                cancleBtn.addEventListener("click", (e) => {
                    e.preventDefault();
                    inputList.removeChild(wrapTag);
                });
                wrapTag.appendChild(cancleBtn);

                inputList.appendChild(wrapTag);

                inputTag.click();
            });

            const removeFile = (target) => {
                const filesInput = document.getElementById("hiddenFiles");
                const files = filesInput.value;
                let newResult = files.split(",").filter((v) => v != target).join(',');
                filesInput.value = newResult;

                const parentNode = document.getElementById("addedFileList");
                const targetNode = document.getElementById("file-" + target);
                console.log(targetNode);
                parentNode.removeChild(targetNode);
            }
        </script>
    </main>
</html>