<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/main_layout"
>
<head>
    <title>글쓰기</title>
</head>

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pages/article/write.css}" >
    </th:block>
    <!-- <th:block layout:fragment="script">
        <script th:src="@{/js/page/home.js}"></script>
    </th:block> -->

    <main class="write" layout:fragment="content">
        
        <form action="/api/article/regist" method="POST">
            <fieldset>
                <label>제목</label>
                <input type="text" name="title">
            </fieldset>
            <fieldset>
                <label>내용</label>
                <textarea name="content" cols="30" rows="10"></textarea>
            </fieldset>
            <fieldset>
                <input class="submit_btn" type="submit" value="작성">
            </fieldset>
        </form>

    </main>
</html>