.article_list_wrapper {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
}

.article_list {
    padding: 1rem;
}

.article_list > li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.article_list > li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.article_list_title {
    width: 70%;
}

.pager_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.pager {
    display: flex;
}

.pager > li {
    padding: 0 5px;
}

.pager_total {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
    margin-top: 1rem;
}