<html 
    lang="ko" 
    xmlns:th="http://www.thymeleaf.org"
>
    <header th:fragment="headerFragment">
        <h1>
            <a href="/">Logo</a>
        </h1>
        <div class="menu" th:if="${session['memberId']}">
            <div>
                <span class="user" th:text="${session['memberId']}" />
                <th:block th:switch="${session['memberRole']}">
                    <span th:case="ROLE_USER" th:text="[user]"></span>
                    <a href="/admin" th:case="ROLE_ADMIN" th:text="[admin]"></a>
                    <!-- <span th:case="*" th:text="[guest]"></span> -->
                </th:block>
            </div>
            <a href="/article/form">글쓰기</a>
            <a href="/api/user/logout">로그아웃</a>
        </div>
        <div th:unless="${session['memberId']}">
            <a href="/login">로그인</a>
        </div>
    </header>
</html>